<body>
    <h1>Produtos do Mercado</h1>

    <a href="">Novo Produto</a>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arroz 5kg</td>
                <td>Arroz branco tipo 1</td>
                <td>20</td>
                <td>29,90</td>
                <td>
                    <button>Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>